@font-face {
    font-family: 'airlockregular';
    src: url('../fonts/airlock-webfont.eot');
    src: url('../fonts/airlock-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/airlock-webfont.woff') format('woff'),
         url('../fonts/airlock-webfont.ttf') format('truetype'),
         url('../fonts/airlock-webfont.svg#airlockregular') format('svg');
}


*{margin:0px; padding:0px;} 

body{width:1100px; margin:auto; height: auto; position: relative;}

section{height: auto; float: left; padding-bottom: 40px;}

header{height: 120px; width: 1100px;}
.barraBuscar{font-family: arial; font-weight: bolder; margin-left: 800px; margin-top:-30px; font-size: 20px;}
input{border-radius:5px; height: 30px; width:200px;}


/*-----------------------------MENU-----------------------------*/

nav{border-radius:5px; width: 1100px; height: 40px; margin-top: 30px; box-shadow: 2px 2px 2px 2px; margin-bottom: 15px;}

nav{background: rgb(0,0,0); /* Old browsers */
background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(76,76,76,1) 42%, rgba(0,0,0,1) 75%, rgba(76,76,76,1) 94%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(42%,rgba(76,76,76,1)), color-stop(75%,rgba(0,0,0,1)), color-stop(94%,rgba(76,76,76,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(76,76,76,1) 42%,rgba(0,0,0,1) 75%,rgba(76,76,76,1) 94%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(76,76,76,1) 42%,rgba(0,0,0,1) 75%,rgba(76,76,76,1) 94%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(76,76,76,1) 42%,rgba(0,0,0,1) 75%,rgba(76,76,76,1) 94%); /* IE10+ */
background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(76,76,76,1) 42%,rgba(0,0,0,1) 75%,rgba(76,76,76,1) 94%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#4c4c4c',GradientType=0 ); /* IE6-9 */}

nav ul li{width: 220px; height: 32px; float: left; border-radius:5px; padding-top: 10px; list-style: none;}

nav ul li a {text-decoration: none; height:20px; padding-left: 70px; margin-top: 25px; font-size: 19px;
font-family:  arial;}

.home{color:silver} .noticias{color:#FF001A} .esportes{color:#33E314} .tecnologia{color:#0000FF} .variedades{color:#FF4500}

nav ul li b:hover{background-color: white; color:#000000; text-decoration: none; border-radius:4px;}
nav ul li b:VISITED{background-color: white; color:#000000; text-decoration: none; border-radius:4px;}

/*-----------------------------MENU-----------------------------*/


/*---------------------------AREA DE DESTAQUES------------------*/

#fotos{position: relative; width: 620px; height: 465px; padding: 0;
margin: 15px 5px 0px 10px; float:left; margin-bottom: 30px;}

#fotos ul li{list-style: none;}

#fotos ul li{position: relative;}

#fotos ul li p{margin: 0px; padding: 10 15px; line-height: 20px;
font-family: Arial; font-size:14px; display: none;}

#fotos ul li p b{font-weight: bold; font-size: 18px; color:#069}

#fotos ul li p a{text-decoration: none; color:white; font-weight: bold}

#fotos ul li img{margin: 0px; padding: 0px; width:620px; height: 465px;
border-radius:10px; border-width: 0px;}

#fotos div.paginas{position: absolute; top: 7px; right: 7px;
z-index: 100;}

#fotos div.paginas a{height: 30px; width: 30px; display: block;
float:left; margin:left; color:white; font-size: 22px; font-family: Arial; text-decoration: none;
text-align: center; line-height: 30px; outline: none; background: black; opacity:0.9;
filter: alpha(opacity = 90); font-weight: bold; border-radius:3px; margin:0.3px;}

#fotos div.paginas a:hover, #fotos div.paginas a.activeSlide{
background: #069; font-weight: bold;}

#fotos ul li div.barra_semi-transparente p {width: 590px; height:70px; position:absolute; bottom:-5;
background: black;  opacity:0.90; filter:alpha(opacity = 90); display:none; border-radius:10px;}


/*---------------------------AREA DE DESTAQUES------------------*/

/*---------------------------MAIS NOTICIAS------------------*/

.maisNoticias{padding-top: 10px; margin-left: 18px; clear: both; margin-top: 80px;}

.maisNoticias  ul  li{list-style: none; width:590px; clear: both; padding-top: 10px;}

.maisNoticias  ul  li a{text-decoration: none;}

.maisNoticias ul li img {border-radius:5px; float: left; margin-right: 10px;}

.titleMaisNoticias{font-family:arial; font-size: 23px;}

.assunto{font-family: Arial; font-weight: bold; color:gray; font-size: 12px; margin-bottom: 3px; }
.descricao{font-family: Arial; font-weight: 400; font-size: 12px; font-style: oblique; color:black;}

.Esporte{font-family: Arial; font-size: 19px; color:#399B00; font-weight: bolder; margin-top: 15px;}
.Noticia{font-family: Arial; font-size: 19px; color:#A50006; font-weight: bolder; margin-top: 15px;}
.Tecnologia{font-family: Arial; font-size: 19px; color:#002DB2; font-weight: bolder; margin-top: 15px;}
.Variedades{font-family: Arial; font-size: 19px; color:#FF4500; font-weight: bolder; margin-top: 15px;}

.demaisNoticias{clear:both; padding-top: 20px; margin-left: 10px;}
table{margin-top: 10px; margin-left: 10px;}
table tr{margin-top: 5px;}
table tr td{padding-right: 5px; font-family: arial; color:#069; font-weight: bold; padding-top:7px;}
table tr td a{text-decoration: none; color:#069;}
table tr td a:hover{text-decoration: underline; color:#069;}

/*---------------------------MAIS NOTICIAS------------------*/

/*-------------------------------ASIDE------------------------*/

aside{float: left; margin-top: 15px; margin-left: 40px;}

.maisLidas{width: 320px; height: 297px; font-family: Arial; border: 0px solid silver;
border-radius:3px; background-color: white; margin-top: 30px;}
.maisLidas ol li{height: 50px; border-bottom: 1px dotted silver; font-family: Arial; font-weight: bolder; list-style: none; padding-left: 1px;
padding-top: 1px; text-align: justify;}
.maisLidas ol li a{text-decoration: none; color: #069; list-style: none;}
.maisLidas ol li img{padding-right: 5px;}

.titleDestaques{margin-top:10px; margin-left:10px; width:290px; font-family:arial;}

.clima{width:100px; font-family: Arial; margin-top: 15px;}

.rodapDestaques{width:300px; height:5px; border-bottom: 2px double silver;}

.videos{margin-top: 60px; margin-left: 10px;}
.videos .titleVideos{font-family: arial; font-size: 23px; color:#FFD700;}
.videos ul{margin-top: 5px; width: 310px; height:}
.videos ul{list-style: none;}
.videos ul li h3{background: E1E6E3; font-size: 18px; padding: 5px; margin: 2px; border-radius:5px;}
.videos ul li a{list-style: none; text-decoration: none; font-family: Arial; font-style: oblique; font-weight: bold; font-size: 15px; top: 18px; color:#000;}
.videos ul li div iframe{border: 1px solid #000;-moz-border-radius: 5px;border-radius: 5px; padding-left: 10x; margin-left: 5px;}

.redessociais{margin-top: 180px; height: 100px; margin-left: 30px;}
.redessociais h3{font-family: arial; color: #069; margin-top: 10px;}
.redessociais ul{margin-top: 10px;}
.redessociais ul li{list-style: none; float: left;}

/*------------------------footer-------------------------------*/

footer{clear: both; padding-bottom: 30px;}
footer .direitos{margin-top:30px; width: 1100px; height: 60px; background: rgb(224,224,224); /* Old browsers */
background: -moz-linear-gradient(top, rgba(224,224,224,1) 0%, rgba(255,255,255,1) 24%, rgba(224,224,224,1) 57%, rgba(255,255,255,1) 83%, rgba(224,224,224,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(224,224,224,1)), color-stop(24%,rgba(255,255,255,1)), color-stop(57%,rgba(224,224,224,1)), color-stop(83%,rgba(255,255,255,1)), color-stop(100%,rgba(224,224,224,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(224,224,224,1) 0%,rgba(255,255,255,1) 24%,rgba(224,224,224,1) 57%,rgba(255,255,255,1) 83%,rgba(224,224,224,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(224,224,224,1) 0%,rgba(255,255,255,1) 24%,rgba(224,224,224,1) 57%,rgba(255,255,255,1) 83%,rgba(224,224,224,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(224,224,224,1) 0%,rgba(255,255,255,1) 24%,rgba(224,224,224,1) 57%,rgba(255,255,255,1) 83%,rgba(224,224,224,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(224,224,224,1) 0%,rgba(255,255,255,1) 24%,rgba(224,224,224,1) 57%,rgba(255,255,255,1) 83%,rgba(224,224,224,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */ border-radius:5px;
box-shadow: 2px 2px 2px 2px;}
footer .direitos img{margin-left: 30px; margin-top: 5px; float: left;}
footer .direitos .copy{font-family: arial; float: left; margin-left: 400px; margin-top: 20px; font-weight: bold}
footer .direitos .sobre{font-family: arial; margin-left: 900px; float: left; margin-top: -20px; font-weight: bold}
footer ol{margin-left: 150px; margin-top: 15px;}
footer ol li{list-style: none; float: left; text-decoration: none; padding-right: 40px; margin-left: 20px; font-weight: bolder;}
footer ol li a{text-decoration: none; color:black; font-family: arial; font-size: 18px;}
