<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>Derby</servlet-name>
    <servlet-class>org.apache.derby.drda.NetServlet</servlet-class>
    <init-param>
      <param-name>startNetworkServerOnInit</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Inicio</display-name>
    <servlet-name>Inicio</servlet-name>
    <servlet-class>controller.Inicio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inicio</servlet-name>
    <url-pattern>/Inicio</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LerNoticia</display-name>
    <servlet-name>LerNoticia</servlet-name>
    <servlet-class>controller.LerNoticia</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LerNoticia</servlet-name>
    <url-pattern>/LerNoticia</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ver</display-name>
    <servlet-name>Ver</servlet-name>
    <servlet-class>controller.Ver</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ver</servlet-name>
    <url-pattern>/Ver</url-pattern>
  </servlet-mapping>
</web-app>